{% extends 'base.html' %}
{% block content %}
    {% for gameitem in gameitem_list %}
        <div class="bg-teal-300 hover:bg-teal-200 py-1">
            <div class="md:flex shadow-lg  mx-6 md:mx-auto my-4 max-w-lg md:max-w-5xl h-48">
                {% if not gameitem.game_image_url %}
                    <svg class="h-full w-full md:w-1/4  object-cover rounded-lg rounded-r-none pb-5/6"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                    </svg>

                {% else %}
                    <img class="h-full w-full md:w-1/4  object-cover rounded-lg rounded-r-none pb-5/6"
                         src="{{ gameitem.game_image_url }}" alt="{{ gameitem.name }}">
                {% endif %}
                <div class="w-full md:w-3/4 px-4 py-4 bg-white rounded-r-lg border border-teal-900">
                    <div class="flex items-center">
                        <h2 class="text-xl text-gray-800 font-medium mr-auto">{{ gameitem.name }}</h2>
                        <p class="text-gray-800 font-semibold tracking-tighter">
                            {% if gameitem.old_price %}
                                only
                                <i class="text-gray-600 line-through">{{ gameitem.price }} $</i>

                                <span class="text-xl">
                                        {{ gameitem.old_price }}$
                                    </span>
                            {% else %}
                                <span class="text-xl">
                                     {{ gameitem.price }} $
                                    </span>

                            {% endif %}
                        </p>
                    </div>
                    <p class="text-sm text-gray-700 mt-4">
                        {{ gameitem.description }}
                    </p>
                    <div class="flex items-center justify-end mt-4 top-auto">
                        <button class="bg-white text-red-500 px-4 py-2 rounded mr-auto hover:underline">Delete</button>

                        <form action="{% url 'ps_monitor:watch_unwatch' pk=gameitem.id %}" method=POST>
                            {% csrf_token %}
                            <button class="flex items-center bg-blue-600 text-gray-200 px-2 py-2 rounded-md  mr-2">
                                <svg class="w-5 inline-block mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path>
                                </svg>
                                UnTrack
                            </button>
                        </form>
                        <a href="{{ gameitem.get_absolute_url }}">
                            <button class=" bg-gray-200 text-blue-600 px-2 py-2 rounded-md">Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
